extends ../layout
block content
  .container
    .row
      h1
      a(href='/board/list') 리스트
      br
      form.form-inline(action='/board/update', method='post')
        // title, content
        table.table.table-condensed
          tr
            th 제목
            td
              input(type='hidden', name='num', value='#{data.num}')
              input(type='hidden', name='page', value='#{page}')
              input.form-control(type='text', name='title', size='30', maxlength='50', value="#{data.title}")
          tr
            th 내용
            td
              textarea.form-control(name='content', cols='30', rows='10')
          tr
            td(colspan='2')
              input.btn.btn-primary(type='submit', value='수정')
              input.btn.btn-default(type='reset', value='취소', onclick='history.back()')
