extends layout

block content
    .jumbotron
      .container
          h2(id='hi') 무엇을 도와드리리요?
          p(id='hi') Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          a.btn.btn-primary.btn-md(href='#') Click Here &raquo;
    .container
      .low
          .col-md-4
            h2 About Us
            p Donec id elit non mi porta gravida at egen metys, Fusce dapibus, tellus ac cursus commodo,
            tortor mauris condimentum nibh, ut fermentu fjiakdlaidfjl
            p
             a.btn.btn-default(href='#') View Details
          .col-md-4
            h2 Services
            p Donec id elit non mi porta gravida at egen metys, Fusce dapibus, tellus ac cursus commodo,
            tortor mauris condimentum nibh, ut fermentu fjiakdlaidfjl
            p
             a.btn.btn-default(href='#') View Details
          .col-md-4
            h2 Get In Touch
            p Donec id elit non mi porta gravida at egen metys, Fusce dapibus, tellus ac cursus commodo,
            tortor mauris condimentum nibh, ut fermentu fjiakdlaidfjl
            p
             a.btn.btn-default(href='#') View Details
