//
   Created by SH kim on 2016-09-05.

doctype html

html
    head
        title
        link(rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css")
        link(rel="stylesheet" href="/stylesheets/style.css")
        script(type="text/javascript" src="/javascripts/essential.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
    body
        table#toptable
            tr#toptable
                td#toptable
                    a(href="/") 메인 페이지
                td#toptable
                    a(href="/users/login") 로그인


        center
            block content