extends ../layout

block content

    script


    form(action='login', method='post')
        | id :
        input(type='text', name='id' id="id")
        br
        | pw :
        input(type='password', name='pw')
        br
        input(type='button' onclick='inputChk("id","아이디를 입력해주세요","pw","비밀번호를 입력해주세요")' value="로그인")
