//Created by SH kim on 2016-09-11.
//로그인이 필요한 서비스일떄 연결해주는 페이지

extends ../layout
block content
    p 로그인이 필요한 서비스 입니다.

    form(action='/users/login', method='post')
        | id :
        input(type='text', name='id')
        br
        | pw :
        input(type='password', name='pw')
        br
        input(type='submit')

