extends ../layout/layout
block append header
block contents
    // PAGE HEADER
    .page_header
        .bcrumb-wrap
            .container
                .row
                    .col-md-12
                        ul.bcrumbs
                            li
                                a(href='#')
                                    i.fa.fa-home
                                    |  Home
                            li Page with #{item.blog_title}
                        .clearfix
    // INNER CONTENT
    .inner-content
        .container
          .row.shop-login
            .col-md-12
              .box-content(style="text-align : center;")
                h2.uppercase.text-center.space30 #{item.blog_title}
                .post-meta(style="margin-bottom : 10px")
                  span
                    a
                      i.icon-clock2
                      |&nbsp; 
                      =moment(item.blog_createDate).format('YYYY-MM-DD')
                  span
                    a
                      i.icon-user
                      | &nbsp; !{item.blog_author}
                .clearfix.space30
                  p
                    |!{item.blog_text}
block append footer