extends layout

block content
  h1 Login
  p Please login below
  form(method='post', action='/user/register', entype='multipart/form-data')
    .form-group
      label ID
      input.form-control(name='id', type='text', placeholder='Enter ID')
    .form-group
      label Password
      input.form-control(name='password', type='password')
    input.btn.btn-default(name='submit', type='submit', value='Login')
