extends ../layout/layout
block script
    script(type='text/javascript').
      $(document).ready(function(){
      $("#join").validate({
        rules : {
            join_userID : {
                required : true,
                userid : true,
                minlength: 4,
                maxlength: 20
            },
            join_password :{
                required :true,
                userpw : true,
                minlength : 6,
                maxlength : 20,
            },
            confirm_pw : {
                required : true,
                userpw : true,
                minlength : 6,
                maxlength : 20,
                equalTo : "input[name*='join_password']"
            },
        },
        messages : {
            join_userID: {
                required : "아이디를 입력해 주세요",
                minlength: "아이디는 4자 이상이어야 합니다.",
                maxlength: "아이디는 20자 이하이어야 합니다."
            },
            join_password : {
                required: "암호를 입력해 주세요",
                minlength: "암호는 6자 이상이어야 합니다.",
                maxlength: "암호는 20자 이하이어야 합니다."
            },
            confirm_pw : {
                required: "암호를 한 번 더 입력해 주세요",
                minlength: "암호는 6자 이상이어야 합니다.",
                maxlength: "암호는 20자 이하이어야 합니다.",
                equalTo: "암호가 일치하지 않습니다."
            }
        }
      });
      });

      //회원가입
      function doJoin(){
        if(checkID('1') == $("#join_userId").val()){
            alert('아이디를 체크해주세요.');
            return false;
        }else{
            var url = '/join';
            var param =  $("#join").serialize();
            $.post(url,param,function (data){
                if(data){
                    alert('회원가입이 완료되었습니다.');
                    $("#login_userID").val(data.id);
                    $("#login_password").val(data.pw);
                }else{
                    alert('Error!');
                }
            });
        }
      }
      //로그인
      function doLogin(){
        var id = $("#login_userID").val();
        var pw =$("#login_password").val();
        var idCheckUrl = '/loginCheck/'+id ;
        $.get(idCheckUrl,function(data){
            if(data == 'N'){
                alert('존재하지 않는 ID 입니다');
                return false;
            }else{
                $('#login').submit();
            }
        });
      }

      //아이디 체크
      function checkID(fucc){
        var id = $("#join_userId").val();
        var url = '/checkID/' + id;
        if(id == '' || id == null){
            alert('아이디를 입력해주세요');
            return false;
        }else if(id.length < 4){
            return false;
        }else{
            $.get(url,function(data){
                if(data == 'Y'){
                    alert('아이디가 존재합니다.');
                    return false
                }else{
                    if(fucc ==null || fucc == ''){
                        alert('사용가능한 아이디 입니다.');
                    }else{
                        return data;
                    }
                }
            });
        }
      }
block append header
block contents
      // PAGE HEADER
      .page_header
        .page_header_parallax
          .container
            .row
              .col-md-12
                h3
                  | 로그인이 필요합니다.
                  br
                  | #{title_name}
        .bcrumb-wrap
          .container
            .row
              .col-md-12
                ul.bcrumbs
                  li
                    a(href='/')
                      i.fa.fa-home
                      |  Home
                  li Login
                .clearfix
      .inner-content
        .container
          .row.shop-login
            .col-md-6
              .box-content
                h3.uppercase.text-center Sign In
                .clearfix.space40
                form.logregform(action="/login" method="post" id="login" )
                  .row
                    .form-group
                      .col-md-12
                        label ID
                        input.form-control(type='text', value='' name="login_userID" id="login_userID" required minlength="4" onkeyup="if(event.keyCode==13){ doLogin(); }")
                  .clearfix.space20
                  .row
                    .form-group
                      .col-md-12
                        a.pull-right(href='/login/lost/pw') (비밀번호를 잊으셨나요?)
                        label Password
                        input.form-control(type='password', value='' maxlength="20" name="login_password" id="login_password" required minlength="6" onkeyup="if(event.keyCode==13){ doLogin(); }")
                  .clearfix.space20
                  .row
                    .col-md-12
                      button.button.btn-md.pull-right(type='button' onclick="doLogin()") Sign in
            .col-md-6
              .box-content
                h3.uppercase.text-center Sign up
                .clearfix.space40
                form.logregform(action="/join" method="post" id="join")
                  .row
                    .form-group
                      .col-md-8
                        label(for="join_userId") ID (4 ~ 20글자)
                        input.form-control(type='text' id="join_userId" name="join_userID" onkeyup="if(event.keyCode==13){ doJoin(); }" required)
                      .col-md-4
                        button.button.btn-md.pull-right(type='button' onclick="checkID()" style="margin-top:25px; height:50px;" id="check") Check ID
                  .clearfix.space20
                  .row
                    .form-group
                      .col-md-12
                        label(for="join_name") nickname ( 닉네임 )
                        input.form-control(type='text' id="join_name" name="join_name" onkeyup="if(event.keyCode==13){ doJoin(); }" required)
                  .clearfix.space20
                  .row
                    .form-group
                      .col-md-6
                        label(for="joinPw1") Password (6 ~ 20글자)
                        input.form-control(type='password' id="joinPw1" name="join_password" onkeyup="if(event.keyCode==13){ doJoin(); }" required)
                      .col-md-6
                        label(for="joinPw2") Re-enter Password
                        input.form-control(type='password' id="joinPw2" name="confirm_pw" required onkeyup="if(event.keyCode==13){ doJoin(); }")
                  .row
                    .col-md-12
                      .space20
                      button.button.btn-md.pull-right(type='button' onclick="doJoin()") Sign up
block append footer