extends ../layout/layout
block append header
block contents
    // PAGE HEADER
    .page_header
        .page_header_parallax
            .container
                .row
                    .col-md-12
                        h3
                            span Search
                            | Lorem ipsum dolor
                            br
                            | amet iplus
        .bcrumb-wrap
            .container
                .row
                    .col-md-12
                        ul.bcrumbs
                            li
                                a(href='#')
                                    i.fa.fa-home
                                    |  Home
                            li Search
                        .clearfix
    // SEARCH
    .inner-content
        .search-container
            .container
                .row
                    h4.text-center Search Anything Here...
                    .col-md-8.col-md-offset-2
                        .input-group
                            input.form-control(placeholder='Search here ...', type='text')
                            span.input-group-btn
                                button(type='submit')
                                    i.fa.fa-search
                    .clearfix.space60
                    .col-md-8.col-md-offset-2
                        h5 Popular Search tags
                        ul.recent-search
                            li
                                a(href='#') Popular
                            li
                                a(href='#') Twitter
                            li
                                a(href='#') 2014
                            li
                                a(href='#') Entertainment
                            li
                                a(href='#') Parallax
                            li
                                a(href='#') Widgets
                            li
                                a(href='#') Stories
                            li
                                a(href='#') Inspiration
                            li
                                a(href='#') Webdesign
                    .clearfix.space60
                    .col-md-8.col-md-offset-2
                        h5 Archives 2015
                        ul.recent-search
                            li
                                a(href='#') January
                            li
                                a(href='#') February
                            li
                                a(href='#') March
                            li
                                a(href='#') April
                            li
                                a(href='#') May
                            li
                                a(href='#') June
block append footer