<!-- views/home/welcome.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="container home home-welcome">
      <div class="jumbotron">
        <h1 name="p2" id="p2">About</h1>
        <p>

        </p>
        &nbsp;
        &nbsp;
        &nbsp;
        <p name="p2" id="p2">
          이 사이트는
          <a href="https://nodejs.org/ko/">https://nodejs.org/ko/ </a>
          - 를 활용하여 작성 되었습니다.</a>
        </p>
      </div>
      <div class="container">
        <div class="low">
          <div class="col-md-4">
            <h2>About Us</h2>
            <p>Donec id elit non mi porta gravida at egen metys, Fusce dapibus, tellus ac cursus commodo,</p>
            <tortor>mauris condimentum nibh, ut fermentu fjiakdlaidfjl</tortor>
            <p><a href="#" class="btn btn-default">View Details</a></p>
          </div>
          <div class="col-md-4">
            <h2>Services</h2>
            <p>Donec id elit non mi porta gravida at egen metys, Fusce dapibus, tellus ac cursus commodo,</p>
            <tortor>mauris condimentum nibh, ut fermentu fjiakdlaidfjl</tortor>
            <p><a href="#" class="btn btn-default">View Details</a></p>
          </div>
          <div class="col-md-4">
            <h2>Get In Touch</h2>
            <p>Donec id elit non mi porta gravida at egen metys, Fusce dapibus, tellus ac cursus commodo,</p>
            <tortor>mauris condimentum nibh, ut fermentu fjiakdlaidfjl</tortor>
            <p><a href="#" class="btn btn-default">View Details</a></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
