<!-- views/home/welcome.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="container home home-welcome">
      <div class="jumbotron">
        <h1>Jinho - 게시판</h1>
        <p>
          이 사이트틑 <a href="https://nodejs.org/ko/">https://nodejs.org/ko/ </a>
          - 를 활용하여 작성 되었습니다.</a>
        </p>
      </div>
    </div>
  </body>
</html>
