<!-- views/home/welcome.ejs -->

<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/nav %>
        <div class="container home home-welcome">
            <div class="jumbotron">
                <h1 name="p2" id="p2">Jinho - 게시판</h1>
                <p>

                </p>
                &nbsp; &nbsp; &nbsp;
                <p name="p2" id="p2">
                    이 사이트는
                    <a href="https://nodejs.org/ko/">https://nodejs.org/ko/ </a> - 를 활용하여 작성 되었습니다.</a>
                </p>
            </div>
            <div class="container">
                <div class="low">
                    <div class="col-md-4">
                        <h2>About Us</h2>
                        <p>이거슨 심심해서 만든 사이트여</p>
                        <tortor>재밌게들 놀다 가시오.</tortor>
                        <p></p>
                        <p><a href="http://www.naver.com" class="btn btn-default">Move</a></p>
                    </div>
                    <div class="col-md-4">
                        <h2>Ang?</h2>
                        <p>앙 기모띠</p>
                        <tortor>히사시부리</tortor>
                        <p></p>
                        <p><a href="/posts" class="btn btn-default">Move</a></p>
                    </div>
                    <div class="col-md-4">
                        <h2>Get In Touch</h2>
                        <p>일하세요.</p>
                        <tortor>내일 월요일임.</tortor>
                        <p></p>
                        <p><a href="/frposts" class="btn btn-default">Move</a></p>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <% include ../partials/footer %>
</body>

</html>